$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/*-----------------------------------------------------------------------------
  Color Palette
  - Yellow: #F7B32D // RGB: 247, 179, 45;
  - Light Orange: #FF664A // RGB: 255, 102, 74
  - Light Blue: #4ECBD6 // RGB: 78, 203, 214
  - Dark Gray: #3A3531 // RGB: 58, 53, 49
  - Dark Blue: #008CAC // RGB: 0, 140, 172
  ___________________________________________________________________________*/


/*-----------------------------------------------------------------------------
  - Try adding clearfix to gameboard div
-----------------------------------------------------------------------------*/

body {
  background-color: #3A3531;
  margin: 0;
  padding: 0;
}

/*-----------------------------------------------------------------------------
  Header Styling - Start
  ___________________________________________________________________________*/

h1, h3 {
  color: #4ECBD6;
  text-align: center;

}

h2 {
  color: red;
  text-align: center;
}

.symbolChoice {
  width: 50px;
  height: 50px;
  background-color: #008CAC;
  margin: 20px;
  border-radius: 25px;
  font-size: 20px;
}

/*-----------------------------------------------------------------------------
  Header Styling - End
  ___________________________________________________________________________*/

/*-----------------------------------------------------------------------------
  Game Board - Start
  ___________________________________________________________________________*/

.gameBoard {
  margin: 0 auto;
  padding: 0 36%;
}

.symX {
  background-color: blue;
}

.symO {
  background-color: red;
}

.hidden {
  display: none;
}

.col {
  float: left;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid #008CAC;
}


/*-----------------------------------------------------------------------------
  Game Board - End
  ___________________________________________________________________________*/
